<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Consoluno.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUnoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1234/Host"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUnoService"
                contract="UnoServiceReference.IUnoService" name="BasicHttpBinding_IUnoService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Consoluno.Bot.Properties.Settings>
            <setting name="ServiceConnectionUri" serializeAs="String">
                <value>http://192.168.0.105:1234/Host</value>
            </setting>
        </Consoluno.Bot.Properties.Settings>
    </applicationSettings>
</configuration>