<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Consoluno.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUnoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1234/Host"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUnoService"
                contract="UnoServiceReference.IUnoService" name="BasicHttpBinding_IUnoService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Consoluno.Client.Properties.Settings>
            <setting name="LastGuid" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </Consoluno.Client.Properties.Settings>
    </userSettings>
</configuration>